.tab-pane {
    -fx-tab-min-width:   130px; 
    -fx-tab-max-width:   130px;
    -fx-tab-min-height:  45px;
    -fx-tab-max-height:  45px;
    -fx-tab-border-radius: 1px;

}
.root{   
    -fx-font-family: "Comic Sans MS",arial;;
    -fx-font-size: 12;

}
.tab{
    -fx-font-family: "Comic Sans MS",arial; ;
    -fx-font-size: 11;
    -fx-background-color: #e7d9ea ;
    -fx-border-width: 2;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}
.tab:selected {
    -fx-background-color:#11698e ;
}
.tab-pane *.tab-header-area *.tab-header-background {
    -fx-background-color:transparent;
}

Button:pressed { -fx-background-color: #16c79a;


}
Button { -fx-background-color: #19456b;
         -fx-border-color: #FFFFFF;
         -fx-border-width: 2;
         -fx-text-fill: #edeae5;
         -fx-font-family: "Comic Sans MS",arial;
         -fx-font-style: italic;
         -fx-font-size: 11px;
         -fx-background-radius: 8 8 8 8;
         -fx-border-radius: 8 8 8 8;
}
.text-field {
    -fx-background-color: #e7d9ea ,#e7d9ea , #e7d9ea;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #e7d9ea , #e7d9ea , #e7d9ea;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.text-area .content{
    -fx-background-color: #e7d9ea , #e7d9ea , #e7d9ea;
}
